<!-- START # Blank Modal # START -->
<div class="modal" id="modal-blank">
  <div class="modal-dialog">
    <div class="modal-content p-4">
      <div class="modal-header">
        <p class="fw-bold">Quasi, possimus totam.</p>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col">
            <p class="lh-base">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos
              voluptates sit reprehenderit a numquam corrupti qui, ullam est et
              praesentium impedit minima eveniet magni provident fugit esse
              doloribus voluptate inventore.
            </p>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <div class="row">
          <div class="col">
            <button
              type="button"
              class="btn btn-primary rounded-4 fw-bold border-0"
              data-bs-dismiss="modal"
              aria-label="Close"
              style="background-color: #3f356b">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END # Blank Modal # END -->
