/**
Fonts
**/

/* Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/**
Body
 **/

body {
  background-color: #f8f9fa;
}

:root {
  --bs-body-font-family: "Roboto", "Arial", sans-serif;
}

/**
Main
**/
main {
  & .search-row {
    & .col-notifs {
      & button {
        background-color: white;
        width: 2.5rem;
        height: 2.5rem;

        &.profile {
          background-image: url(../img/logo.png);
          background-size: cover;
        }
      }
    }
  }

  & .card {
    &.infocard {
      padding: 1rem 2rem;
      margin: 1.5rem 0;

      &.infocard-dark {
        background-color: #0f0346;
        color: white;
      }

      &.infocard-mid {
        background-color: #92adef;
        color: white;
      }

      & .teacher-profile {
        background-image: url("../img/tutor.png");
        background-size: cover;
        background-position: center;
        width: 6rem;
      }

      & table {
        & th,
        & td {
          padding: 0.25rem 0;
        }
      }
    }
  }
}

/**
Footer
**/
