/*
Main
*/
main {
  & .card {
    &.infocard {
      &.page-nav {
        & button {
          text-decoration: none;
          font-weight: 500;
          color: white;

          &:hover,
          &.active {
            color: aqua;
          }
        }
      }
    }
  }
}
