<div class="row search-row align-items-center">
  <div class="col-6">
    <!-- START # Search Bar # START -->
    <form action="" class="m-0">
      <div class="input-group">
        <input
          type="text"
          class="form-control rounded-start-pill py-2"
          placeholder="Search"
          aria-label="Search" />
        <span class="input-group-text rounded-end-pill" id="basic-addon2">
          <i class="fa-solid fa-magnifying-glass"></i>
        </span>
      </div>
    </form>
    <!-- END # Search Bar # END -->
  </div>

  <div class="col-3"></div>

  <!-- START # Notifications, Messages, Profile # START -->
  <div class="col-3 col-notifs d-flex gap-4 justify-content-end">
    <!-- Notifications -->
    <button type="button" class="btn btn-light rounded-circle">
      <i class="fa-solid fa-bell"></i>
    </button>

    <!-- Messages -->
    <button type="button" class="btn btn-light rounded-circle">
      <i class="fa-solid fa-envelope"></i>
    </button>

    <!-- Profile Thumbnail -->
    <button type="button" class="btn rounded-circle profile"></button>
  </div>
  <!-- START # Notifications, Messages, Profile # START -->
</div>
